<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Operations" type="System.Configuration.NameValueSectionHandler" />
    <section name="Validators" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- files go here-->
    <add key="results.txt" value="C:\Users\student04\documents\visual studio 2015\Projects\OpenClosed v3\OpenClosed v3\Files\results.txt"/>
    <add key="worksheet.txt" value="C:\Users\student04\documents\visual studio 2015\Projects\OpenClosed v3\OpenClosed v3\Files\worksheet.txt"/>
    <add key="results.csv" value="C:\Users\student04\documents\visual studio 2015\Projects\OpenClosed v3\OpenClosed v3\Files\results.csv"/>
    <add key="worksheet.csv" value="C:\Users\student04\documents\visual studio 2015\Projects\OpenClosed v3\OpenClosed v3\Files\worksheet.csv"/>
  </appSettings>
  <Operations>
    <add key="+" value="Add"/>
    <add key="-" value="Substract"/>
    <add key="*" value="Multiply"/>
    <add key="/" value="Divide"/>
  </Operations>
  <Validators>
    <add key="+" value="AdditionValidator"/>
    <add key="-" value="SubstractionValidator"/>
    <add key="*" value="MultiplicationValidator"/>
    <add key="/" value="DivisionValidator"/>
  </Validators>
</configuration>